// resetto
* {
  outline: none;
  padding: 0;
  margin: 0;
  background-color: var(--col-wt-pure-opq);  
  color: var(--col-bekka);
  font-family: var(--fnt-experiment);
}

html {
  font-size: var(--fnt-def-fnt);
  line-height: var(--fnt-def-lnht);
}

body {
  height: 100%; height: 100vh;
  margin: auto;
  padding: 0;
  max-width: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// main
body {  
  background-color: var(--col-wt-three-opq);  
  font-family: var(--fnt-main);  
}

body, div { padding: 15px 0; } 

h1 { 
  
  // padding: 3.5rem; 
  padding: 2.5rem 3.5rem 1.5rem 3.5rem;

  font-size: 3.4em; 
  text-align: center;
  line-height: 1.15;
  font-weight: normal;
  font-family: var(--fnt-substack); 
}

.page-wrap { 
  max-width: calc( 98% - 16px - 16px ); 
  padding: 0 16px;
  margin: 0 auto; 
}

.annualstats{ text-align: center; }
.ragcontainer{ box-sizing: border-box; } 
.thumb {
  max-width: calc(100% - 5px - 2.5px - 12px); 
  box-shadow: 10px 5px 12px var(--col-md-gry-opq);
}

// flex display
.yearcontainer { 
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  justify-content: space-around; 

  &::before { content: ""; display: table; } 

  &::after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

  h2 { 
    
    padding: 2rem;
    font-size: 2.4em;

    text-align: center;
    // line-height: 1.15;
    
    font-weight: normal;
    font-family: var(--fnt-substack); 
  }

}

.annualstats{ flex: none; }

.ragcontainer { display: flex; }

.comicanchor { display: flex; flex-direction: row; justify-content: space-around; }
.comicanchor { flex-wrap: wrap; } 

// button stuff

.control-panel { 
  width: 25rem; 
  margin: 0 auto;
  text-align: center;

  .btn { 
    font: inherit; 
    background-color: #521751; 
    color: white; 
    border: 1px solid #521751; 
    padding: 0.5rem 1rem; 
    border-radius: 3px; 
    margin: 1rem; 
    transition-duration: .3515s;
    transition-timing-function: linear;
    transition-property: 'color background-color'; 

    &:hover {
      cursor: pointer;
      background-color: #898989;
      color: #521751;
      border: 1px solid black; 
    }

  }

  .input-container {     
    margin: 1rem; 
    label { text-align: initial; }    
    label, input { display: block; width: 100%; }    
    input { font: inherit; }
  }
  
}
