:root {
  
  // COLORS 
  --col-wt-pure-opq: rgba(255, 255, 255, 1.0);  // #FFFFFF
  --col-wt-two-opq: rgba(239, 239, 239, 1.0);  // #EFEFEF;
  --col-wt-three-opq: rgba(221, 221, 221, 1.0);  // #DDDDDD;
  --col-wt-off-opq: rgba(204, 204, 204, 1.0);  // #CCCCCC 
  --col-lt-gry-opq: rgba(153, 153, 153, 1.0);  // #999999;
  --col-md-gry-opq: rgba(74,74,74,1.0); // #4A4A4A 
  --col-bekka: rebeccapurple;

  // FONT STACKS   
  --fnt-calibri: Calibri, Corbel, "Trebuchet MS", Arial, Verdana, "Verdana Ref", "Lucida Sans Unicode", "DejaVu Sans", sans-serif;
  --fnt-experiment: system-ui;
  --fnt-main: Helvetica, Arial, sans-serif;
  --fnt-substack: Verdana, Geneva, Tahoma, sans-serif; 

  // set in stone values
  --fnt-def-fnt: 1em; /* 16px font size */ 
  --fnt-whole-unit: 1rem; /* 16px */ 
  --fnt-def-lnht: 1.5rem; /* 24px line height */

}