<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="page-wrap">

    <h1>Marvel Demo Three</h1>
    
    <div>
      
      <section class="control-panel">
        <button id="btnReload" class="btn">Reload</button>
      </section>

    </div>

    <div id="results"></div>

    <div id="status"></div>
    
  </div>
</body>
</html>